*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}

body{
    background: rgb(30,30,30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(207, 95, 207),rgb(106, 106, 250),rgb(247, 137, 156),rgb(235, 159, 88));
    border-radius:20px;
}
